
.containers {
    padding: 0 10%;
  }
  

  .text-lefts {
    text-align: left;
    margin-top: 10px;
  }
  

  .font-bold {
    margin-bottom: 15px;
  }
  

  .flex-col.items-centers {
    align-items: flex-start;
  }
  