/* Footer Container */
.containers {
    padding: 0 10%;
  }
  
  /* Align text to the left */
  .text-left {
    text-align: left;
    margin-top: 10px;
  }
  
  /* Font styling for bold text */
  .font-bold {
    margin-bottom: 15px;
  }
  
  /* Align items in the policy section */
  .flex-col.items-center {
    align-items: flex-start;
  }
  