@media only screen and (max-width: 1278px) {
  .content-right {
    display: none;
  }
  .content-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .content-left-top {
    width: 50%;
  }
}

@media only screen and (max-width: 601px) {
  .content-left-top {
    display: block;
  }
}
