@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD



=======
>>>>>>> 4647cb88d81ca36b4bca252a499f413c741c5a00
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}
